# Базовые структуры данных



## Домашнее задание 

### Описание домашнего задания и формат сдачи

В домашнем задании необходимо решить предложенные задачи по программированию – вписать свой код в ячейки после условий задач вместо комментария `### YOUR CODE HERE ###` в файле *jun_anl_data_structures.ipynb* и сохранить изменения, используя опцию *Save and Checkpoint* из вкладки меню *File* или кнопку *Save and Checkpoint* на панели инструментов. Итоговый файл в формате `.ipynb` (файл Jupyter Notebook) необходимо загрузить в личный кабинет обучающей онлайн платформы Skillbox (https://go.skillbox.ru/) и отправить на проверку.

**NB!** Во всех заданиях обязательно наличие выдачи.

## Индексация списка

In [1]:
L = [[[1, 2, 3, 4, 5, 6, 7, 8, 9, 10], [11, 12, 13, 14, 15, 16, 17, 18, 19, 20]], 
    [[21, 22, 23, 24, 25, 26, 27, 28, 29, 30], [31, 32, 33, 34, 35, 36, 37, 38, 39, 40]], 
    [[41, 42, 43, 44, 45], [46, [47, 48], 49, 50], [51, 52, 53, 54, 55], [56, 57, 58, 59, 60]], 
    [61, 62, 63, [64, 65, 66, 67, 68, 69, 70, 71], 72, 73, 74, [75, [76, 77, 78], 79], 80], 
    [81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]]

### 1.
Из приведенного выше списка списков выведите с помощью индексов число `7`.

In [2]:
L[0][:][0][6]

7

### 2.
Из приведенного выше списка списков выведите с помощью индексов число `49`.

In [46]:
L[2][1][2]

49

### 3.
Из приведенного выше списка списков выведите с помощью индексов число `78`.

In [50]:
L[3][7][1][-1]

78

### 4.
Из приведенного выше списка списков выведите с помощью индексов (используя **отрицательные значения**) число `99`.

In [52]:
L[4][-2]

99

### 5.
Из приведенного выше списка списков сделайте **срез** с числом `74`.

In [66]:
L[3][6:7]

[74]

### 6.
Из приведенного выше списка списков сделайте **срез** с числами `47, 48`.

In [70]:
L[2][1][1:2]

[[47, 48]]

### 7.
Из приведенного выше списка списков сделайте **срез** с числами `77, 78`.

In [75]:
L[3][7][1][1:]

[77, 78]

## Функция range()

### 8.
С помощью функции `range` сгенерируйте следующую последовательность: <br>
`[0, 1, 2, 3, 4]`

In [132]:
list = [i for i in range(5)]
list

[0, 1, 2, 3, 4]

### 9.
С помощью функции `range` сгенерируйте следующую последовательность: <br>
`[3, 4]`

In [84]:
list = [i for i in range(3,5)]
list

[3, 4]

### 10.
С помощью функции `range` сгенерируйте следующую последовательность: <br>
`[4, 8, 12, 16]`

In [133]:
list = [i for i in range(4,17,4)] #if i % 4 ==0]
list

[4, 8, 12, 16]

### 11.
С помощью функции `range` сгенерируйте следующую последовательность: <br>
`[16, 12, 8, 4]`

In [142]:
list = [i for i in range(16,3,-4)] #if i % 4 ==0]
list
#list[::-1]

[16, 12, 8, 4]

### 12.
С помощью функции `range` сгенерируйте следующую последовательность: <br>
`[0, 5, 10]`

In [135]:
list = [i for i in range(0,11,5)] #if i % 5 == 0]
list

[0, 5, 10]

### 13.
С помощью функции `range` сгенерируйте следующую последовательность: <br>
`[10, 5, 0]`

In [143]:
list = [i for i in range(10,-1,-5)] #if i % 5 == 0]
#list[::-1]
list

[10, 5, 0]

### 14.
С помощью функции `range` сгенерируйте следующую последовательность: <br>
`[-10, -9, -8, -7, -6, -5, -4, -3, -2, -1]`

In [140]:
list = [i for i in range(-10,0)]
list

[-10, -9, -8, -7, -6, -5, -4, -3, -2, -1]

### 15.
С помощью функции `range` сгенерируйте следующую последовательность: <br>
`[-10, -16, -22, -28, -34]`

In [144]:
list = [i for i in range(-10,-35,-6)]
#list[::-1]
list

[-10, -16, -22, -28, -34]

## Операторы и типы данных

Этот блок должен быть решен **БЕЗ** использования готовых функций и сторонних библиотек. Используйте операторы.

### 16.
Часы показывают время в формате h:mm:ss (количество часов (от 0 до 23), двузначное количество минут, двузначное количество секунд). Количество минут и секунд при необходимости дополняются до двузначного числа нулями.

Программа должна запрашивать количество секунд S, которое прошло с начала суток, и выводить в формате h:mm:ss, какое время будут показывать часы. <br><br>

*Формат ввода:* <br>
3600<br><br>

*Формат вывода:* <br>
1:00:00

In [3]:
seconds_count = int(input('Input seconds from 00:00:00 : '))
# limit 23:59:59 -> 86399 seconds
seconds_count = seconds_count%86400
hours = seconds_count // 3600
minutes = (seconds_count - (hours * 3600)) // 60
seconds = seconds_count - (hours * 3600) - (minutes * 60)
    
minutes = str(minutes).zfill(2) 
seconds = str(seconds).zfill(2) 
    

print(hours,':',minutes,':',seconds)


#else:
 #   print('exeption: input value out of range, max input: 86399')

Input seconds from 00:00:00 : 86434
0 : 00 : 34

# 17.
Машина выезжает на нулевой километр МКАД и едет по часовой стрелке с постоянной скоростью V километров в час. На каком километре МКАД машина окажется через T часов? 
<br> Длина МКАД: 109 км. <br><br> 

*Формат ввода:* <br>
60 <br>
1
<br><br>
*Формат вывода:* <br>
60

In [6]:
#velocity, hours_period = map(int, input('Input velocity, hours period: ').split(', '))

#distance = velocity * hours_period
# create limit if distance > MKAD lenth
#if distance >= 109:
#    km_point = distance - ((distance // 109)*109)
#else:
#    km_point = distance

#print(km_point)
velocity, hours_period = map(int, input('Input velocity, hours period: ').split(', '))

distance = velocity * hours_period
# create limit if distance > MKAD lenth
#if distance >= 109:
distance = distance%109 
#km_point = distance - ((distance // 109)*109)
#else:
#km_point = distance

print(distance)

Input velocity, hours period: 110, 1
1 1

### 18.
Напишите программу, которая запрашивает целое пятизначное число и выводит сумму его цифр.

*Формат ввода:* <br>
11111
<br><br>
*Формат вывода:* <br>
5

In [138]:
value = str(input('Input five-digit integer: '))

amount = 0
for i in range(len(value)):
    amount += int(value[i])
    
print(amount)

Input five-digit integer: 12345
15

### 19.
Напишите программу, которая запрашивает целое четырехзначное число и меняет местами его две первые и две последние цифры.

*Формат ввода:* <br>
5236 
<br><br>
*Формат вывода:* <br>
3652

In [161]:
digit = str(input('Input four-digit integer: '))

left_half = digit[0:2]
right_half = digit[2:4]

answer = right_half + left_half
answer

Input four-digit integer: 1234

'3412'

### 20.
Напишите программу, которая на основании параметра D (сколько километров в день преодолевает машина), расчитывает сколько дней она затратит на путь длиной P километров.  <br><br>
*Формат ввода:* <br>
105 <br>
120
<br><br>
*Формат вывода:* <br>
2

In [3]:
#import math
day_distance, full_distance = map(int, input('Input distance per day, full distance period: ').split(', '))


#count_days = math.ceil(full_distance / day_distance)
count_days1 = int(full_distance / day_distance + (1 - ((full_distance / day_distance) - (full_distance // day_distance)))%1)




#if full_distance % day_distance == 0:
#    count_days = full_distance // day_distance
#else:
#    count_days = full_distance // day_distance + 1
print(count_days1)

Input distance per day, full distance period: 105, 120
2

### 21.
Напишите программу, которая считает, сколько рублей и копеек нужно заплатить за N авокадо, если один авокадо стоит R рублей и K копеек. <br><br>
*Формат ввода:* <br>
40 20 <br>
5
<br><br>
*Формат вывода:* <br>
201 руб. 00 коп.

In [3]:
rub, penn = map(int, input('Input price: RUBLES PENNIES: ').split(' '))
count = int(input('Input product count: '))

rub_price = rub * count
penn_price = penn * count

#zero = '0'
#if penn_price != 0:
rub_price += penn_price // 100
penn_price = penn_price % 100
#if penn_price == 0 or penn_price < 10:
#    penn_price = zero + str(penn_price)
rub_price = str(rub_price).zfill(2) 
penn_price = str(penn_price).zfill(2) 

print(rub_price, 'руб.', penn_price, 'коп.' )

Input price: RUBLES PENNIES: 40 20
Input product count: 5
201 руб. 00 коп.

### 22.
Пусть организаторы мероприятия неправильно составили гугл-форму и просили людей указывать ФИО в неправильном порядке. Сначала спрашивали имя, потом отчество, затем фамилию. Напишите программу, которая будет переставлять ФИО в нужный порядок. <br> <br> 

*Формат ввода:* <br>
Иван Иванович Иванов<br><br>
*Формат вывода:* <br>
Иванов Иван Иванович

In [2]:
firstName, middleName, lastName = map(str, input('Input full name: First name, Middle name and Last name ').split(' '))
print(lastName, firstName, middleName)

Input full name: First name, Middle name and Last name Иван Иванович Иванов
Иванов Иван Иванович

## Cловари и списки

### 23.
У вас есть список с заказом в ресторане. Напишите программу, которая меняет указанное по названию блюдо на другое. При этом новое блюдо в списке будет расположено на месте того, что было заменено.

*Формат ввода:* <br>
белое вино<br>
красное вино <br><br>
*Формат вывода:* <br>
`['красное вино', 'салат Цезарь', 'паста Карбонара', 'чизкейк', 'шоколадный сорбет']`

In [1]:
order = ['белое вино', 'салат Цезарь', 'паста Карбонара', 'чизкейк', 'шоколадный сорбет']

In [2]:
list_value = str(input('Input list value '))
new_value = str(input('Input new value '))
#new_list = []
#for i in range(len(order)):
#    if order[i] == list_value:
#        new_list.append(new_value)
#    else:
#        new_list.append(order[i])
#print(new_list)
index = order.index(list_value)
order[index] = new_value
order

Input list value салат Цезарь
Input new value салат Оливье

['белое вино',
 'салат Оливье',
 'паста Карбонара',
 'чизкейк',
 'шоколадный сорбет']

__________________
Вам дан словарь c расписанием на неделю.

In [119]:
diary = {'понедельник': {
                          'утро': ['погулять с собакой'],
                          'день': [],
                          'вечер': ['погулять с собакой']
                                      },
        'вторник': {
                          'утро': ['погулять с собакой'],
                          'день': [],
                          'вечер': ['погулять с собакой']
                                      },
        'среда': {
                          'утро': ['погулять с собакой'],
                          'день': [],
                          'вечер': ['погулять с собакой']
                                      },
        'четверг': {
                          'утро': ['погулять с собакой'],
                          'день': [],
                          'вечер': ['погулять с собакой']
                                      },
        'пятница': {
                          'утро': ['заехать в шиномонтаж', 'помыть машину'],
                          'день': [],
                          'вечер': ['поход в театр',  'ужин в кафе']
                                      },
        'суббота': {
                          'утро': [],
                          'день': [],
                          'вечер': []
                                      },
        'воскресенье': {
                          'утро': [],
                          'день': [],
                          'вечер': []
                                      }}

### 24.
Удалите ключи `суббота` и `воскресенье`. Вместо них добавьте пару, где ключ это кортеж `суббота, воскресенье`, а значение – список с делом `посадить цветы на даче`. Можно ли сделать ключ `суббота, воскресенье` списком?

Ключ словаря сделать списком нельзя потому, что список - это изменяемый объект, а ключ словаря должен быть неизменяемым объектом.

In [120]:
diary.pop('суббота')
diary.pop('воскресенье')
diary.update({tuple(['суббота', 'воскресенье']): ['посадить цветы на даче']})
diary

{'понедельник': {'утро': ['погулять с собакой'],
  'день': [],
  'вечер': ['погулять с собакой']},
 'вторник': {'утро': ['погулять с собакой'],
  'день': [],
  'вечер': ['погулять с собакой']},
 'среда': {'утро': ['погулять с собакой'],
  'день': [],
  'вечер': ['погулять с собакой']},
 'четверг': {'утро': ['погулять с собакой'],
  'день': [],
  'вечер': ['погулять с собакой']},
 'пятница': {'утро': ['заехать в шиномонтаж', 'помыть машину'],
  'день': [],
  'вечер': ['поход в театр', 'ужин в кафе']},
 ('суббота', 'воскресенье'): ['посадить цветы на даче']}

### 25.
Добавьте в список дел во вторник утром `поход к зубному`.

In [122]:
diary.update({'вторник': {
                          'утро': ['погулять с собакой', 'поход к зубному'],
                          'день': [],
                          'вечер': ['погулять с собакой']
                                      }})
diary

{'понедельник': {'утро': ['погулять с собакой'],
  'день': [],
  'вечер': ['погулять с собакой']},
 'вторник': {'утро': ['погулять с собакой', 'поход к зубному'],
  'день': [],
  'вечер': ['погулять с собакой']},
 'среда': {'утро': ['погулять с собакой'],
  'день': [],
  'вечер': ['погулять с собакой']},
 'четверг': {'утро': ['погулять с собакой'],
  'день': [],
  'вечер': ['погулять с собакой']},
 'пятница': {'утро': ['заехать в шиномонтаж', 'помыть машину'],
  'день': [],
  'вечер': ['поход в театр', 'ужин в кафе']},
 ('суббота', 'воскресенье'): ['посадить цветы на даче']}

### 26.
Замените `поход в театр` на `поход в кино` в списке дел в пятницу вечером.

In [124]:
diary.update({'пятница': {
                          'утро': ['заехать в шиномонтаж', 'помыть машину'],
                          'день': [],
                          'вечер': ['поход в кино',  'ужин в кафе']
                                      }})
diary

{'понедельник': {'утро': ['погулять с собакой'],
  'день': [],
  'вечер': ['погулять с собакой']},
 'вторник': {'утро': ['погулять с собакой', 'поход к зубному'],
  'день': [],
  'вечер': ['погулять с собакой']},
 'среда': {'утро': ['погулять с собакой'],
  'день': [],
  'вечер': ['погулять с собакой']},
 'четверг': {'утро': ['погулять с собакой'],
  'день': [],
  'вечер': ['погулять с собакой']},
 'пятница': {'утро': ['заехать в шиномонтаж', 'помыть машину'],
  'день': [],
  'вечер': ['поход в кино', 'ужин в кафе']},
 ('суббота', 'воскресенье'): ['посадить цветы на даче']}

### 27.
Ваш друг вернется из отпуска на один день раньше, поэтому он заберет свою собаку в среду, а не в четверг. Удалите дело `погулять с собакой` из соответствующих списков.

In [125]:
diary.update({ 'четверг': {'утро': [],
  'день': [],
  'вечер': []}})

diary

{'понедельник': {'утро': ['погулять с собакой'],
  'день': [],
  'вечер': ['погулять с собакой']},
 'вторник': {'утро': ['погулять с собакой', 'поход к зубному'],
  'день': [],
  'вечер': ['погулять с собакой']},
 'среда': {'утро': ['погулять с собакой'],
  'день': [],
  'вечер': ['погулять с собакой']},
 'четверг': {'утро': [], 'день': [], 'вечер': []},
 'пятница': {'утро': ['заехать в шиномонтаж', 'помыть машину'],
  'день': [],
  'вечер': ['поход в кино', 'ужин в кафе']},
 ('суббота', 'воскресенье'): ['посадить цветы на даче']}

### 28.
Выведите второе дело из списка дел, которые вам нужно сделать в пятницу утром.

In [128]:
a = diary.get('пятница')
a.get('утро')

['заехать в шиномонтаж', 'помыть машину']